
header{
    background-color: rgb(33, 109, 172);
}
h1 {
    border-top: solid;
    border-color:whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
}
h2 {
    border-bottom: solid;
    border-color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
    
}